<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weibo.mapper.gzMapper">
  <resultMap id="BaseResultMap" type="weibo.pojo.gz">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gzUsername" jdbcType="VARCHAR" property="gzusername" />
    <result column="gzedUsername" jdbcType="VARCHAR" property="gzedusername" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gzUsername, gzedUsername
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="weibo.pojo.gz">
    insert into gz (id, gzUsername, gzedUsername
      )
    values (#{id,jdbcType=INTEGER}, #{gzusername,jdbcType=VARCHAR}, #{gzedusername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="weibo.pojo.gz">
    insert into gz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gzusername != null">
        gzUsername,
      </if>
      <if test="gzedusername != null">
        gzedUsername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gzusername != null">
        #{gzusername,jdbcType=VARCHAR},
      </if>
      <if test="gzedusername != null">
        #{gzedusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="weibo.pojo.gz">
    update gz
    <set>
      <if test="gzusername != null">
        gzUsername = #{gzusername,jdbcType=VARCHAR},
      </if>
      <if test="gzedusername != null">
        gzedUsername = #{gzedusername,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="weibo.pojo.gz">
    update gz
    set gzUsername = #{gzusername,jdbcType=VARCHAR},
      gzedUsername = #{gzedusername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="ifGZ" parameterType="weibo.pojo.gz" resultType="weibo.pojo.gz">
    select * from gz where gzUsername = #{gzusername} and gzedUsername = #{gzedusername}
  </select>

  <delete id="deleteGz" parameterType="weibo.pojo.gz">
    DELETE from gz where gzUsername = #{gzusername} and gzedUsername = #{gzedusername}
  </delete>


</mapper>
