<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weibo.mapper.plmessageMapper">
  <resultMap id="BaseResultMap" type="weibo.pojo.plmessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plUsername" jdbcType="VARCHAR" property="plusername" />
    <result column="pledUsername" jdbcType="VARCHAR" property="pledusername" />
    <result column="plWeibo" jdbcType="VARCHAR" property="plweibo" />
    <result column="plTime" jdbcType="TIMESTAMP" property="pltime" />
    <result column="plContent" jdbcType="VARCHAR" property="plcontent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plUsername, pledUsername, plWeibo, plTime, plContent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plmessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plmessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="weibo.pojo.plmessage">
    insert into plmessage (id, plUsername, pledUsername, 
      plWeibo, plTime, plContent
      )
    values (#{id,jdbcType=INTEGER}, #{plusername,jdbcType=VARCHAR}, #{pledusername,jdbcType=VARCHAR}, 
      #{plweibo,jdbcType=VARCHAR}, #{pltime,jdbcType=TIMESTAMP}, #{plcontent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="weibo.pojo.plmessage">
    insert into plmessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plusername != null">
        plUsername,
      </if>
      <if test="pledusername != null">
        pledUsername,
      </if>
      <if test="plweibo != null">
        plWeibo,
      </if>
      <if test="pltime != null">
        plTime,
      </if>
      <if test="plcontent != null">
        plContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="plusername != null">
        #{plusername,jdbcType=VARCHAR},
      </if>
      <if test="pledusername != null">
        #{pledusername,jdbcType=VARCHAR},
      </if>
      <if test="plweibo != null">
        #{plweibo,jdbcType=VARCHAR},
      </if>
      <if test="pltime != null">
        #{pltime,jdbcType=TIMESTAMP},
      </if>
      <if test="plcontent != null">
        #{plcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="weibo.pojo.plmessage">
    update plmessage
    <set>
      <if test="plusername != null">
        plUsername = #{plusername,jdbcType=VARCHAR},
      </if>
      <if test="pledusername != null">
        pledUsername = #{pledusername,jdbcType=VARCHAR},
      </if>
      <if test="plweibo != null">
        plWeibo = #{plweibo,jdbcType=VARCHAR},
      </if>
      <if test="pltime != null">
        plTime = #{pltime,jdbcType=TIMESTAMP},
      </if>
      <if test="plcontent != null">
        plContent = #{plcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="weibo.pojo.plmessage">
    update plmessage
    set plUsername = #{plusername,jdbcType=VARCHAR},
      pledUsername = #{pledusername,jdbcType=VARCHAR},
      plWeibo = #{plweibo,jdbcType=VARCHAR},
      plTime = #{pltime,jdbcType=TIMESTAMP},
      plContent = #{plcontent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" parameterType="java.lang.String" resultType="weibo.pojo.plmessage">
    select * from plmessage where pledUsername = #{username} order by plTime desc
  </select>


</mapper>