<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weibo.mapper.userMapper">
  <resultMap id="BaseResultMap" type="weibo.pojo.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="headImgName" jdbcType="VARCHAR" property="headImgName" />
    <result column="personal_label" jdbcType="VARCHAR" property="personal_label" />
    <result column="webName" jdbcType="VARCHAR" property="webName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
  </resultMap>
  <insert id="insert" parameterType="weibo.pojo.User">
    insert into user (id, username, password, 
      salt,headImgName,personal_label,webName,name,city,gender,birthday)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR},#{headImgName,jdbcType=VARCHAR},#{personal_label,jdbcType=VARCHAR}),#{webName,jdbcType=VARCHAR}),#{name,jdbcType=VARCHAR}),
    #{city,jdbcType=VARCHAR}),#{gender,jdbcType=INTEGER}),#{birthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="weibo.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="headImgName != null">
        headImgName,
      </if>
      <if test="personal_label != null">
        personal_label,
      </if>
      <if test="webName != null">
        webName,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="headImgName != null">
        #{headImgName,jdbcType=VARCHAR},
      </if>
      <if test="personal_label != null">
        #{personal_label,jdbcType=VARCHAR},
      </if>
      <if test="webName != null">
        #{webName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>

  <select id="login" parameterType="weibo.pojo.User" resultType="weibo.pojo.User">
    select * from user where username=#{username} and password=#{password}
  </select>

  <select id="findUser" parameterType="java.lang.String" resultType="weibo.pojo.User">
    select * from user where username=#{username}
  </select>

  <update id="updateHeadImg" parameterType="weibo.pojo.User">
    update user set headImgName = #{headImgName,jdbcType=VARCHAR} where username=#{username}
  </update>

  <update id="updateInfo" parameterType="weibo.pojo.User">
    update user set personal_label = #{personal_label,jdbcType=VARCHAR},webName = #{webName,jdbcType=VARCHAR},name = #{name,jdbcType=VARCHAR},city = #{city,jdbcType=VARCHAR},
    gender = #{gender,jdbcType=INTEGER},birthday = #{birthday,jdbcType=DATE}
    where username=#{username}
  </update>

  <select id="selectUserNameByID" parameterType="java.lang.Integer" resultType="java.lang.String">
    select username from user where id =#{id}
  </select>

  <select id="selectLikeCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select likeCount from user where username = #{username}
  </select>

  <select id="selectPLCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select plCount from user where username = #{username}
  </select>

  <select id="selectZFCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select zfCount from user where username = #{username}
  </select>

  <update id="updateLikeCount"  parameterType="java.lang.String">
    update user set likeCount = likeCount + 1 where username = #{username}
  </update>

  <update id="setZero"  parameterType="java.lang.String">
    update user set likeCount = 0 where username = #{username}
  </update>

  <update id="setplZero"  parameterType="java.lang.String">
    update user set plCount = 0 where username = #{username}
  </update>

  <update id="setzfZero"  parameterType="java.lang.String">
    update user set zfCount = 0 where username = #{username}
  </update>

  <update id="updatePLCount"  parameterType="java.lang.String">
    update user set plCount = plCount + 1 where username = #{username}
  </update>

  <update id="updateZFCount"  parameterType="java.lang.String">
    update user set zfCount = zfCount + 1 where username = #{username}
  </update>




</mapper>
