<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weibo.mapper.weiboMapper">

  <resultMap id="BaseResultMap" type="weibo.pojo.weiboCustom">
    <id column="weibo_id" jdbcType="VARCHAR" property="weiboId" />
    <result column="user_id" jdbcType="INTEGER" property="user.id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="postTime" jdbcType="TIMESTAMP" property="postTime" />
    <result column="pic1" jdbcType="VARCHAR" property="pic1" />
    <result column="pic2" jdbcType="VARCHAR" property="pic2" />
    <result column="pic3" jdbcType="VARCHAR" property="pic3" />
    <result column="pic4" jdbcType="VARCHAR" property="pic4" />
    <result column="pic5" jdbcType="VARCHAR" property="pic5" />
    <result column="pic6" jdbcType="VARCHAR" property="pic6" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="music" jdbcType="VARCHAR" property="music" />
    <result column="zan" jdbcType="INTEGER" property="zan" />
    <result column="zfwbid" jdbcType="VARCHAR" property="zfwbid" />

    <association property="user" javaType="weibo.pojo.User">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="headImgName" jdbcType="VARCHAR" property="headImgName" />
      <result column="personal_label" jdbcType="VARCHAR" property="personal_label" />
      <result column="gender" jdbcType="INTEGER" property="gender" />
      <result column="city" jdbcType="VARCHAR" property="city" />
    </association>
  </resultMap>


  <sql id="Base_Column_List">
    weibo_id, user_id, content, postTime,pic1,pic2,pic3,pic4,pic5,pic6,video,music,zan,zfwbid
  </sql>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from weibo
    where weibo_id = #{weiboId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="weibo.pojo.weibo">
    insert into weibo (weibo_id, user_id, content, 
      postTime,pic1,pic2,pic3,pic4,pic5,pic6,video,music,zan,zfwbid)
    values (#{weiboId,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{postTime,jdbcType=TIMESTAMP},#{pic1,jdbcType=VARCHAR},#{pic2,jdbcType=VARCHAR},#{pic3,jdbcType=VARCHAR},#{pic4,jdbcType=VARCHAR},#{pic5,jdbcType=VARCHAR},#{pic6,jdbcType=VARCHAR},#{video,jdbcType=VARCHAR},#{music,jdbcType=VARCHAR},#{zan,jdbcType=INTEGER},#{zfwbid,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="weibo.pojo.weibo">
    insert into weibo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weiboId != null">
        weibo_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="postTime != null">
        postTime,
      </if>
      <if test="pic1 != null">
        pic1,
      </if>
      <if test="pic2 != null">
        pic2,
      </if>
      <if test="pic3 != null">
        pic3,
      </if>
      <if test="pic4 != null">
        pic4,
      </if>
      <if test="pic5 != null">
        pic5,
      </if>
      <if test="pic6 != null">
        pic6,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="music != null">
        music,
      </if>
      <if test="zan != null">
        zan,
      </if>
      <if test="zfwbid != null">
        zfwbid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="weiboId != null">
        #{weiboId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null">
        #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic1 != null">
        #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="pic4 != null">
        #{pic4,jdbcType=VARCHAR},
      </if>
      <if test="pic5 != null">
        #{pic5,jdbcType=VARCHAR},
      </if>
      <if test="pic6 != null">
        #{pic6,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="music != null">
        #{music,jdbcType=VARCHAR},
      </if>
      <if test="zan != null">
        #{zan,jdbcType=INTEGER},
      </if>
      <if test="zfwbid != null">
        #{zfwbid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="weibo.pojo.weibo">
    update weibo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null">
        postTime = #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic1 != null">
        pic1 = #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        pic2 = #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        pic3 = #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="pic4 != null">
        pic4 = #{pic4,jdbcType=VARCHAR},
      </if>
      <if test="pic5 != null">
        pic5 = #{pic5,jdbcType=VARCHAR},
      </if>
      <if test="pic6 != null">
        pic6 = #{pic6,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="music != null">
        music = #{music,jdbcType=VARCHAR},
      </if>
      <if test="zan != null">
        zan = #{zan,jdbcType=INTEGER},
      </if>
      <if test="zfwbid != null">
        zan = #{zfwbid,jdbcType=VARCHAR},
      </if>
    </set>
    where weibo_id = #{weiboId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="weibo.pojo.weibo">
    update weibo
    set user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      postTime = #{postTime,jdbcType=TIMESTAMP},
    pic1 = #{pic1,jdbcType=VARCHAR},
    pic2 = #{pic2,jdbcType=VARCHAR},
    pic3 = #{pic3,jdbcType=VARCHAR},
    pic4 = #{pic4,jdbcType=VARCHAR},
    pic5 = #{pic5,jdbcType=VARCHAR},
    pic6 = #{pic6,jdbcType=VARCHAR},
    video = #{video,jdbcType=VARCHAR},
    music = #{music,jdbcType=VARCHAR},
    zan = #{zan,jdbcType=INTEGER},
    zfwbid = #{zfwbid,jdbcType=VARCHAR}
    where weibo_id = #{weiboId,jdbcType=VARCHAR}
  </update>

  <select id="queryAllWeibo" resultMap="BaseResultMap">
      select user.*,weibo.* from weibo,user
    <where>
      and weibo.user_id=user.id  ORDER BY postTime DESC
    </where>
  </select>


  <select id="queryAllWeiboByImg" resultMap="BaseResultMap">
    select user.*,weibo.* from weibo,user
    <where>
        and weibo.user_id=user.id
        and weibo.pic1!=''
      ORDER BY postTime DESC
    </where>
  </select>

  <select id="queryAllWeiboByVideo" resultMap="BaseResultMap">
    select user.*,weibo.* from weibo,user
    <where>
      and weibo.user_id=user.id
      and weibo.video!=''
      ORDER BY postTime DESC
    </where>
  </select>

  <select id="queryAllWeiboByMusic" resultMap="BaseResultMap">
    select user.*,weibo.* from weibo,user
    <where>
      and weibo.user_id=user.id
      and weibo.music!=''
      ORDER BY postTime DESC
    </where>
  </select>

  <select id="queryAllWeiboByArticle" resultMap="BaseResultMap">
    select user.*,weibo.* from weibo,user
    <where>
      and weibo.user_id=user.id
      and weibo.content!=''
      ORDER BY postTime DESC
    </where>
  </select>

  <select id="queryMyWeibo" parameterType="weibo.pojo.User" resultMap="BaseResultMap">
    select weibo.* from weibo
    <where>
      and weibo.user_id=#{id}  ORDER BY postTime DESC
    </where>
  </select>

  <select id="queryCollectWeibo" parameterType="weibo.pojo.User" resultMap="BaseResultMap">
    select user.*,weibo.* ,collect.* from weibo,collect,user
    <where>
      and collect.userID=#{id}
      and collect.wbID = weibo.weibo_id
      and weibo.user_id = user.id
      ORDER BY postTime DESC
    </where>
  </select>



  <update id="updateZanByPrimaryKey" parameterType="weibo.pojo.weibo">
    update weibo
    set zan = #{zan,jdbcType=INTEGER},
    postTime = #{postTime,jdbcType=TIMESTAMP}
    where weibo_id = #{weiboId,jdbcType=VARCHAR}
  </update>

  <select id="queryWeiboByID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user.*,weibo.* from weibo,user where weibo_id = #{weiboId,jdbcType=VARCHAR} and user.id = user_id
  </select>


</mapper>